:root {
  --color-bg: #ffffff;
  --color-selection: #00ff99;
}

@font-face {
  font-family: 'OpenSans';
  src: url('opensans-regular.woff2') format('woff2'), url('opensans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('opensans-bold.woff2') format('woff2'), url('opensans-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html, body, h1, h2, div, p, a, span {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: OpenSans;
  font-weight: normal;
}

html, body {
  background: var(--color-bg);
}

::selection {
  background: var(--color-selection);
}
